{{!-- <div id="map" style="width:100%; height: 100%; position:absolute;"></div> --}}

{{#each venues}}
{{id}}
{{name}}
{{lat}}
{{lon}}
{{address}}
{{city}}
{{state}}
{{checkin}}
{{checkeduser}}
{{currentuser}}
{{todo}}
{{categoryid}}
<br>
{{/each}}